{% extends 'portfolio/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>
{% endblock head %} {% block body %}


<div class="container-fluid p0">
    <div class="parallax">
        <p class="text-right name">PREETAM SWAMI</p>
        <h3 class="text-right profession">Software Developer</h3>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-12 navbar-nav" style="padding-right: 0;">
                <div class="col-sm-1 nav-item text-center">
                    <a class="navbar-brand" href="#">Home</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Blog</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">About</a>
                </div>
                <div id="arrow" class="col-sm-2 text-center">
                    <img src="{% static 'images/arrow.png' %}" width="40px" height="32px" />
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Work</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Contact Me</a>
                </div>
                <div class="col-sm-1 nav-item text-center">
                    <a class="nav-link" href="#">Hobbies</a>
                </div>

            </div>
        </div>

    </nav>
    <nav class="navbar navbar-expand-md p0">
        <div class="col-12 d-flex justify-content-center">
            <div id="triangle-shape">
            </div>
        </div>
    </nav>

</div>
<div class="container-fluid">

    <div class="row" style="margin-top: 50px">
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto">
                <img src="{% static 'images/myphoto_medium.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p0" style="margin-top:80px;">
    <div class="card bg-dark text-white">
        <img class="card-img" src="{% static 'images/counter_strike.jpg' %}" alt="counter-strike" style="max-height: 568px;">
        <div class="card-img-overlay">
            <div class="hobbies-container">
                <h4 class="card-title">Gaming
                    <span style="color: #111;">& Web Surfing</span>
                </h4>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid" style="margin-top: 50px;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h3 class="text-primary" style="letter-spacing: 3px;">Contact Me</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h6 class="text-secondary">Get in touch</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-6">
            <form>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <textarea class="form-control" id="inputMessage" placeholder="Enter your message" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>




{% endblock body %}