{% extends 'portfolio/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="{% static 'js/home.js' %}"></script>
{% endblock head %} {% block body %}


<div class="container-fluid">
    <div class="parallax">
        <p class="text-right name">PREETAM SWAMI</p>
        <h3 class="text-right profession">Software Developer</h3>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-12 navbar-nav" style="padding-right: 0;">
                <div class="col-sm-1 nav-item text-center">
                    <a class="navbar-brand" href="#">Home</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Blog</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">About</a>
                </div>
                <div id="arrow" class="col-sm-2 text-center">
                    <img src="{% static 'images/arrow.png' %}" width="40px" height="32px" />
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Work</a>
                </div>
                <div class="col-sm-2 nav-item text-center">
                    <a class="nav-link" href="#">Contact Me</a>
                </div>
                <div class="col-sm-1 nav-item text-center">
                    <a class="nav-link" href="#">Hobbies</a>
                </div>

            </div>
        </div>

    </nav>
    <nav class="navbar navbar-expand-md p0">
        <div class="col-12 d-flex justify-content-center">
            <div id="triangle-shape">
            </div>
        </div>
    </nav>


    <div class="row" style="margin-top: 50px">
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border3">
                <a href="https://github.com/prtm/AttendanceApp">
                    <img src="{% static 'images/attendance-app.jpg' %}" alt="attendance-app">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border1">
                <a href="https://github.com/prtm">
                    <img src="{% static 'images/myphoto_medium.jpg' %}" alt="github">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border3">
                <a href="https://github.com/prtm/Adhoc-Labs">
                    <img src="{% static 'images/adhoc.jpg' %}" alt="Adhoc Networks">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border4">
                <a href="https://github.com/prtm/pyout">
                    <img src="{% static 'images/pyout.jpg' %}" alt="pyout">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border2">
                <a href="https://github.com/prtm/kisanbazar">
                    <img src="{% static 'images/sggroup.jpg' %}" alt="kisan-bazar">
                </a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border2">
                <a href="https://github.com/prtm/transcendence">
                    <img src="{% static 'images/transcendence.jpg' %}" alt="transcendence app">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border3">
                <a href="https://github.com/prtm/tribute-page">
                    <img src="{% static 'images/tribute-page.jpg' %}" alt="tribute-page">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="diamond d-block mx-auto border4">
                <a href="https://play.google.com/store/apps/details?id=com.vaahika.vaahika">
                    <img src="{% static 'images/vaahika.png' %}" style="background-color: #336699;" alt="vaahika">
                </a>
            </div>
        </div>
    </div>
    <div class="card bg-dark text-white mT50">
        <img class="card-img" src="{% static 'images/counter_strike.jpg' %}" alt="counter-strike" style="max-height: 568px;">
        <div class="card-img-overlay">
            <div class="hobbies-container">
                <h4 class="card-title">Gaming
                    <span style="color: #111;">& Web Surfing</span>
                </h4>
            </div>
        </div>
    </div>

    <div class="row mT50">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h3 class="text-primary" style="letter-spacing: 3px;">Contact Me</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <h6 class="text-secondary">Get in touch</h6>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <form action="." method="POST" id="form">
                {% csrf_token %} {% for field in form %}
                <div class="form-group">
                    {{ field.errors }} {{ field.label_tag }} {{ field }} {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} text-primary"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

</div>
<script src='https://www.google.com/recaptcha/api.js?render=6Ld0OWMUAAAAABEEEK4ZTyNtD58MNb1WXvoRCTk8'></script>
<script>
        grecaptcha.ready(function() {
        grecaptcha.execute('6Ld0OWMUAAAAABEEEK4ZTyNtD58MNb1WXvoRCTk8', {action: 'action_name'})
        .then(function(token) {
            var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "token").val(token);
            $('#form').append($(input));
        });
});
</script>

<script>
    $(function () {
        // scroll to bottom if errors
        var scroll_to_bottom = {{ scroll_to_bottom|yesno:"true,false" }};
        if (scroll_to_bottom) {
            $("html, body").animate({
                scrollTop: $(document).height() - $(window).height()
            });
        }

        $('#form').on('submit',function(e){
            // check if token exists
            var token = $('#form input[name=token]').val()
            if(token == null || token == ''|| token == undefined){
                e.preventDefault()
            }
        });
    });
</script>




{% endblock body %}