html,
body {
    /*width: auto !important;*/
    font-family: 'Roboto';
    background-color: #181818;
    height: 100%;
    /*iphone 5 extra margin right*/
}

/* .row {
    margin-left: 0;
    margin-right: 0;
} */

.parallax {
    /* The image used */
    background-image: url("../images/myphoto_back.png");
    /*background: url("../img/universe.jpg");*/
    /* Set a specific height */
    min-height: 550px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-color: #070606;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.name {
    color: white;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 15px;
    margin: 0 0 0 4px;
    padding: 60px 15px 0 15px;
}

.profession {
    color: #777777;
    line-height: 1.1;
    letter-spacing: 5px;
    margin: 0 0 0 4px;
    padding: 0 25px 0 25px;
}

.p0 {
    padding: 0;
}

#triangle-shape {
    /* background-color: #343a40 */
    content: "";
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 35px solid #343a40;
}

.diamond {
    display: inline-block;
    width: 175px;
    height: 175px;
    /* margin-top: 50px; */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 3px solid #dee2e6;
    border-radius: .25rem;
    overflow: hidden;
}

.diamond img {
    display: block;
    width: 263px;
    height: 263px;
    margin: -131px 0 0 0;
    /* rotate */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: left center;
    /* grayscale and transition */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
}

.diamond img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: none;
    cursor: pointer;
}

.hobbies-container {
    padding: 20px 30px 10px 30px;
    border: 2px solid white;
    background: rgba(255, 0, 0, 0.65);
    float: right;
}

.text-primary {
    color: white !important;
}

label {
    color: whitesmoke;
}